<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{block title|stripTags|trim}{/block} | {$config['appName']}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Matej Sajgal">

    <link rel="stylesheet" href="{$basePath}/www/css/bootstrap.css">
    <link rel="stylesheet" href="{$basePath}/www/css/login.css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {* Fav and touch icons *}
    <link rel="shortcut icon" href="{$basePath}/www/favicon.ico">
</head>

<body>

<div class="container">
    {include #content}
</div> <!-- /container -->

{* Le javascript ================================================== *}
{* Placed at the end of the document so the pages load faster *}
<script src="{$basePath}/www/js/jquery.min.js"></script>
<script src="{$basePath}/www/js/bootstrap.min.js"></script>
<script src="{$basePath}/www/js/netteForms.js"></script>


</body>
</html>