{extends '@loginLayout.latte'}

{block title}Login{/block}

{block content}
    <div class="row">
        <div class="col-sm-offset-4 col-sm-5">
            {$loginForm}
        </div>
    </div>
{/block}

