{extends $layout}

{block title}Dashboard{/block}

{block content}
    <div class="row text-center big-titles">
        <h2 class="header">You have to have a plan.</h2>
        <h2 class="header">Eat clean, try paleo.</h2>
        <h2 class="header"><a href="#">NOW!</a></h2>
    </div>
{/block}